@import "../styles/header.css";
@import "../styles//searchbox.css";
@import "../styles//showTeacher.css";
@import ".//infocontainer.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;

  background: linear-gradient(
    176deg,
    rgba(37, 25, 244, 1) 0%,
    rgba(45, 45, 224, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
}
.App {
  overflow: hidden;
}
.home {
  width: 100vw;
  height: 80vh;
  margin-top: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-intro {
  width: 90%;
  margin: 80px auto;
  height: 60%;
  padding: 10px;
  display: flex;

  align-items: center;
}

.banner-intro .banner {
  width: 50%;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
}

.banner-intro .banner img {
  width: 100%;
}
