.info {
  background-color: #0d47a1;
  width: 100%;
  margin: auto;
  padding: 20px;
  min-height: 550px;
}
.outer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.outer h1 {
  color: #fe4a60;
}

.under-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.under-info .student .info1,
.under-info .teacher .info1 {
  display: flex;
  gap: 20px;
  text-align: justify;
  color: rgb(241, 235, 235);
  font-style: italic;
  padding: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.under-info .student .info1 img,
.under-info .teacher .info1 img {
  width: 60px;
}

.under-info h3 {
  width: 300px;
  border: none;
  color: #a1b7da;
  border-width: 1px;
  margin: auto;
  text-align: center;
  border-bottom-style: dotted;
}
